@import "variables";

.chart {
    @include centeredBlock($mediumColWidth);
    margin-bottom: 4em;

    &.large {
        max-width: $largeColWidth;
    }

    &.xlarge {
        max-width: $xlargeColWidth;
    }

    #controls {
        text-align: center;
        margin-bottom: 1em;
        a {
            text-decoration: none;
            padding: 0.5em;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 0.8em;
            cursor: pointer;

            &#all-time-button {
                margin-right: 0.5em;
            }

            &.active {
                color: white;
                background-color: $primary;
                font-weight: bold;
                border-color: $primary;
            }
        }
    }

    @media only screen and (min-width: 1px) {
        height: 1000px;
    }
    @media only screen and (min-width: 250px) {
        height: 900px;
    }
    @media only screen and (min-width: 300px) {
        height: 850px;
    }
    @media only screen and (min-width: 350px)  {
        height: 625px;
    }
    @media only screen and (min-width: 400px)  {
        height: 600px;
    }
    @media only screen and (min-width: 500px)  {
        height: 575px;
    }
    @media only screen and (min-width: 600px)  {
        height: 500px;
    }
}